body {
  font-family: Arial;
  margin: 0 auto;
  background: #211D1E; 
}

a {
  color: #ccc;
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 2em;
  font-family: 'Bitter', serif;
  padding: 10px 0 0 20px;
  line-height: 30px;
}

#nav {
  float: left;
  margin: 12px 0 0 40px;
  line-height: 30px;
}

#nav a {
  padding: 20px 10px;
}

#nav a:hover {
  background: #ccc;
  color: #211D1E;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

#toolbar {
  height: 30px;
  width: 100%;
  color: #ccc;
}

#wrapper {
  margin: 20px;
  padding: 10px;
  height: 100%;
}

#notepad {
  background: #fff;
  width: 100%;
  height: 600px;
  overflow: auto;
  resize: none;
  padding: 10px;
  margin: -10px;
}
